:root {
    --primary-color: #055a05;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --accent3-color: #fff;
    --accent4-color: #000;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header,
main,
footer {
    width: 940px;
    margin: 0 auto;
}

body {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

/* =========================
   Header & Navigation
========================= */

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

header img {
    width: 150px;
}

header nav {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 40px;
    align-items: center;
}

header nav a {
    color: var(--accent2-color);
    text-decoration: none;
    margin-left: 20px;
    border: 1px solid var(--accent3-color);
    padding: 8px 16px;
}

/* =========================
   Main Layout
========================= */
nav,
section,
article {
    margin: 20px;
    padding: 15px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5 {
    position: relative;
    width: 100%;
    padding: 1px;
    text-align: center;
    justify-content: space-between;
    opacity: 0.7;
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-size: 2rem;
    bottom: 5px;
}

.company-info {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    position: relative;
    text-align: center;
}

.company-info h1 {
    margin-bottom: 1px;
}

.hero article {
    position: absolute;
    top: 65%;
    right: 35%;
    transform: translateX(-50%);
    background-color: var(--accent2-color);
    padding: 0.75rem;
    width: 40%;
    max-width: 1000px;
    border-radius: 6px;
}

.hero article img {
    float: right;
    width: 80px;
}

.trips {
    position: absolute;
    top: 35%;
    right: 23%;
    transform: translateX(-50%);
    padding: 0.70rem;
    max-width: 400px;
    border-radius: 6px;
    background-color: var(--accent2-color);
}

.grid {
    position: absolute;
    top: 91%;
    left: 67%;
    transform: translateX(-50%);
    background-color: var(--accent2-color);
    padding: 0.75rem;
    max-width: 380px;
    border-radius: 6px;
}

.grid img {
    float: left;
    width: 80px;
}

.trips-hero {
    position: relative;
}

.trips-hero img {
    display: block;
    width: 100%;
    height: auto;
}

.trip-booking {
    position: absolute;
    top: 5%;
    left: 30%;
    justify-content: center;
    background-color: var(--accent3-color);
}

.trip-table {
    position: absolute;
    top: 140%;
    left: 37%;
    transform: translateX(-50%);
    padding: 2rem;
    max-width: 1500px;
    border-radius: 6px;
    background-color: var(--accent2-color);
    align-items: center;
    justify-content: space-around;
}

form {
    position: absolute;
    top: 20%;
    right: 5%;
    border-radius: 8px;
}

form label {
    display: block;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 5px;
    margin-top: 8px;
    border-radius: 10px;
    font-size: 0.9rem;
}

form textarea {
    min-height: 80px;
    resize: vertical;
}

/* Radio & Checkbox */
form input[type="radio"],
form input[type="checkbox"] {
    margin-right: 10px;
}

/* Button */
button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    font-size: 0.9rem;
    border-radius: 5px;
    cursor: pointer;
}

/* =========================
   trip card
========================= */
.trip-card {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.trip-card figure {
    padding: 5px;
    border-radius: 8px;
}

.trip-card-grid {
    display: flex;
    position: absolute;
    justify-content: center;
    place-items: center;
    align-items: center;
    top: 170%;
    left: 23%;
}

.trip-card img {
    width: 90%;
    height: 90%;
    display: block;
    object-fit: cover;
    border-radius: 5%;
    margin-bottom: 8%;
}

/* =========================
   Footer
========================= */
footer {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: flex-end;
}

footer p {
    font-size: 1rem;
}

.socialmedia img {
    width: 35px;
    margin-left: 20px;
}