:root {
    --primary-color: #055a05;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header {
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
    padding: 10px 5%;
    background-color: var(--primary-color);
}

header img {
    width: 150px;
}

header nav {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
}

header nav a {
    margin-left: 20px;
    color: var(--accent2-color);
    text-decoration: none;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 15px;
    padding: 15px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
}

.hero article {
    position: absolute;
    top: 30%;
    left: 48%;
    transform: translateX(-50%);
    background-color: var(--accent2-color);
    padding: 0.75rem;
    width: 95%;
    max-width: 1100px;
    border-radius: 6px;
}

.hero article img {
    float: right;
    width: 125px;
}

h2 {
    position: relative;
    text-align: center;
    bottom: 15px;
}

.history {
    display: flex;
    flex-wrap: wrap;
    place-items: center;
    text-align: center;
    justify-content: space-around;
}

.history-grid {
    display: block;
    place-items: center;
}

.adventures {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 15%;
}

.adventure-grid {
    display: flex;
    place-items: center;
    gap: 4px;
}

.adventures-section img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    margin-top: 40px;
}

footer .grid {
    gap: 8px;
}

footer p {
    font-size: 1.2em;
}

footer .sociallinks {
    display: flex;
    gap: 20px;
}

footer .sociallinks img {
    width: 30px;
    height: 30px;
}